{% extends 'base.html' %}

{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">E-Store</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Estore, your one stop online store!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

                <br/></br>
                <p align="justify">
                Mission and Values: Share your company's mission statement and core values. Explain what drives your business and how you strive to serve your customers.

Company Story: Provide a brief history of your eCommerce business. Share how and why you started the business, any challenges you've overcome, and significant milestones along the way.
<br/></br>
Brand Identity: Describe your brand identity, including your brand personality, tone of voice, and visual identity. Explain what sets your brand apart from competitors and why customers should choose your eCommerce platform.
<br/></br>
Team Members: Introduce key members of your team, including founders, executives, and other notable team members. Highlight their expertise and contributions to the company.
<br/></br>
Customer-Centric Approach: Emphasize your commitment to customer satisfaction and how you prioritize meeting the needs of your customers. Share any customer testimonials or success stories to reinforce your dedication to customer service.
<br/></br>
Product Quality and Selection: Discuss the quality and variety of products available on your eCommerce platform. Highlight any unique or exclusive products that differentiate your store from others.
<br/></br>
Community Engagement: If applicable, showcase your involvement in the community or any philanthropic efforts your company supports. Share any partnerships or initiatives aimed at giving back to society.
<br/></br>
Transparency and Trust: Be transparent about your business practices, including shipping, return policies, and data privacy measures. Assure customers of the security of their personal information and transactions on your platform.
<br/></br>
Contact Information: Provide clear contact information, including email addresses, phone numbers, and physical addresses, to make it easy for customers to reach out with questions or concerns.

<br/></br>
            </div>
        </center>
    </div>
</div>

{% endblock %}